<link rel='stylesheet' href='/wikijhow/index.css'>

<main class='index'>
    <div class='area-title'>
        <h1 class='title'><%- config.title %></h1>

        <p class='description'><%- config.description %></p>
    </div>

    <div class='posts'>
        <% site.posts.each(function(post, i) { %>

            <!-- <%- url_for(post.path) %> -->

            <div class='post'>
                <div class='details'>
                    <div class='tags'>
                        <% post.tags.each(function(tag, i) { %>
                            <span class='tag'><%- tag.name %></span>
                        <% }) %>
                    </div>

                    <span class='date'><%- date(post.date, 'DD/MM/YYYY') %></span>
                </div>
                
                <a href='<%- post.path %>' class='no-underline'>
                    <h2 class='title'><%- post.title %></h2>

                    <% if (post.synopsis) { %>
                        <p class='synopsis'><%- post.synopsis %>...</p>
                    <% } %>
                </a>
            </div>
        <% }) %>
    </div>
</main>