<!DOCTYPE html>
<html>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv='X-UA-Compatible' content='ie=edge'>
    <title>
        <%- config.title %>
        <%if (page.title != null && page.title.length > 0) { %>
        - <%- page.title %>
        <% } %>
    </title>

    <link rel='stylesheet' href='/wikijhow//layout.css'>

    <style>
        html {
            --primary-color: <%- config.primaryColor %>;
            --secondary-color: <%- config.secondaryColor %>;
            --text-light-color: <%- config.textLightColor %>;
            --text-dark-color: <%- config.textDarkColor %>;
        }
    </style>
</head>
<body>
    
    <label for='input-menu' role='button' aria-label='Menu' class='menu-button'>
        M
    </label>
    <input id='input-menu' type='checkbox' hidden />

    <header class='menu'>
        <label for='input-menu' class='menu-close' tabindex='-1' aria-hidden='true'></label>
        <nav role='navigation'>
            <div class='area-logo' aria-hidden='true'>
                <div class='logo'>
                    <img src='/wikijhow//logo.png'>
                </div>
            </div>
            <ul>
                <li class=''>
                    <a href='/' class='selected'>Home</a>
                </li>

                <% site.pages.each(function(page, i) { %>
                    <li>
                        <a href='<%- url_for(page.path) %>'>
                            <%- titlecase(page.title) %>
                        </a>
                    </li>
                <% }) %>
            </ul>
        </nav>
    </header>

    <%- body %>

    <footer>
        <p>Feito por mim com HTML, CSS <a href='https://hexo.io' target='_blank'>Hexo</a>, Amor e café</p>
        <p>Curiosidade de como o blog foi feito? <a href='https://github.com/jonathan-santos/pipocacafeinada' target='_blank'>Acesse o repositório do projeto</a></p>
    </footer>
</body>
</html>